.Azeret-Mono-normal{
  font-family: "Azeret Mono", monospace;
  font-optical-sizing: auto;
  font-style: normal;
}

/* Shared-style */
.secondary-bg-1{
    background-color: rgb(246, 244, 244);
}

.secondary-bg-2{
    background-color: rgb(255, 255, 255);
}

.btn-primary{
    margin: 20px 0px;
    background-color: rgb(0, 0, 0);
    font-weight: bold;
    font-size: large;
    color: white;
    border-radius: 5px;
    padding: 18px 25px;
    text-align: center;
}

.p-color{
    color:rgb(152, 152, 152)
}
/* Header */
.header{
    background-image: url(img/Hero-bg.png);
}
/* Banner Style */
.group{
    width: 140px;
    height: 140px;
    margin-bottom: 80px;
}

.banner{
    max-width: 1140px;
    max-height: 652px;
    margin: 0 221px;
    text-align: center;
}

.banner-text{
    max-width: 998px;
}

.banner-description{
    font-size: small;
    margin: 0px 50px;
}

/* Main */
main{
    max-width: 1140px;
    margin: 100px auto;
}

main section{
    margin-bottom: 130px;
}

/* Development */
.development{
    border-radius: 10px;
    padding: 100px 80px;
    text-align: center;
}

.development-column{
    display: flex;
    justify-content: space-between;
    background-color: rgb(252, 252, 252);
    padding: 50px 50px;
}

.development-layer-1{
    padding-right: 200px;
    text-align: left;
}

.development-layer-2{
    padding-right: 150px;
    padding-left: 50px;
    text-align: left;
}

.development-title{
    font-weight: 700;
    color: rgb(95, 95, 95);
}

